<div class="center hero-unit">
<h1>Welcome</h1>
<p>This is our new website. Please sign up and enjoy the encuentro.</p>
<%= link_to "Signup now!", about_path, class: "btn btn-large btn-primary" %>
</div>